*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background: linear-gradient(94deg, rgba(36,131,255,1) 0%, rgba(95,165,245,1) 50%, rgba(146,211,249,1) 100%);
}

h1 {
    text-align: center;
    margin: 40px 0px;
    text-transform: uppercase;
}

.container {

    background-color: #ffffff;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    
    & .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 40px;

        & .select-div {
            width: 100%;
            margin-bottom: 20px;

            & label {
                display: block;
                width: 100%;
                padding-bottom: 8px;
                font-size: 14px;
            }
            & select{
                width: 100%;
            }
        }

    }


    & h2{
        margin-top: 60px;
        text-transform: uppercase;
        text-align: center;
        border-top: 1px dotted lightgrey;
        padding-top: 15px;
        padding-bottom: 30px;

    }

    & #resultado {
        & p {
            text-align: center;
            padding: 12px 0;
            text-transform: uppercase;
            border-bottom: 1px solid lightgrey;
        }
        .error {
            text-align: center;
            background-color: rgb(197, 26, 26);
            color: white;
            padding: 14px 0;
        }
    }
}
